<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="..." class="nav-link">
        <span class="title">LMS - Learning Management System</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/" class="nav-link nav-text">Home</a>
      <a routerLink="/admin" class="nav-link nav-text">Admin</a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>